/*
* Component: Simple Hero
*/

/* ------------------------------------ */
/* GENERAL AND RESET */
/* ------------------------------------ */

:root {
  --primary-color: #4886ac;
  --primary-light: #64a1c7;
  --primary-dark: #407697;

  --gray-dark: #0e1318;
  --gray-medium: #18222b;
  --gray-light: #e3e3e3;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--gray-medium);
}

a {
  text-decoration: none;
}

.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ */
/* HERO STYLES */
/* ------------------------------------ */

.hero {
  /* Basic hero styles */
}
