/*
* Component: Navbar dropdown extended
* Source: https://github.com/OscarPedroza/html-css-js-components-and-layouts/tree/main/1-navbars/navbar-dropdown-extended
*/

/* ------------------------------------ */
/* GENERAL AND RESET */
/* ------------------------------------ */

:root {
  color-scheme: light;

  --primary-color: #4886ac;
  --primary-light: #64a1c7;
  --primary-dark: #407697;

  --gray-dark: #0e1318;
  --gray-medium: #18222b;
  --gray-light: #e3e3e3;
  --white: #ffffff;


  /* Dynamics variables */
  --bg-body: light-dark(var(--white), var(--gray-dark));
  --bg-content: light-dark(var(--white), var(--gray-medium));

  --text-main: light-dark(var(--gray-medium), var(--white));

  --action-color: light-dark(var(--primary-color), var(--primary-light));
  --action-hover: light-dark(var(--primary-dark), var(--primary-light));
  --action-active: light-dark(var(--primary-light), var(--primary-dark));

  --fill-color: var(--primary-color);
  --fill-hover: var(--primary-dark);
  --fill-active: light-dark(var(--primary-light), var(--primary-color));
  --fill-text: var(--white);

  --shadow-content: light-dark(rgba(64, 111, 141, 0.15), rgba(0, 0, 0, 0.3));

  /* Smooth transition */
  --theme-transition:
    background-color 0.3s ease, color 0.2s ease, box-shadow 0.2s ease;
}

html.dark {
  color-scheme: dark;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--text-main);
  background-color: var(--bg-body);
  transition: var(--theme-transition);
}

a {
  text-decoration: none;
}

.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ */
/* REUSABLE STYLES */
/* ------------------------------------ */

.header {
  width: 100%;
  padding: 1.2rem 3rem;
  background-color: var(--bg-content);
  box-shadow: -1px 2px 20px 0px var(--shadow-content);
  transition: var(--theme-transition);
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */

.menu__logo {
  height: 2.7rem;
  transition: transform 0.3s;
}

.menu__logo:hover {
  transform: scale(1.08);
}

/* Menu links */

.menu__list {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

.menu__item {
  position: relative;
}

.menu__link:link,
.menu__link:visited {
  position: relative;
  display: inline-block;
  width: 100%;
  padding: 1rem 0.8rem;
  font-weight: 500;
  line-height: 1;
  color: inherit;
  transition: color 0.2s;
}

.menu__link--active:link,
.menu__link--active:visited {
  color: var(--action-color);
}

.menu__link:hover,
.menu__link--active:hover {
  color: var(--action-hover);
}
.menu__link:active,
.menu__link--active:active {
  color: var(--action-active);
}

/* Dropdown menu */

.menu__link--dropdown:link,
.menu__link--dropdown:visited {
  display: flex;
  gap: 5px;
}

.menu__submenu {
  position: absolute;
  top: 150%;
  width: max-content;
  padding: 0.5rem 0;
  list-style: none;
  background-color: var(--bg-content);
  border: 1px solid var(--bg-body);
  border-radius: 5px;
  box-shadow: 0px 3px 5px 0px var(--shadow-content);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

.menu__subitem .menu__link:link,
.menu__subitem .menu__link:visited {
  padding: 1rem 1.5rem;
}

.menu__item-dropdown:hover > .menu__submenu {
  top: 105%;
  visibility: visible;
  opacity: 1;
}

.dropdown-icon {
  width: 1em;
  height: 1em;
  transition: transform 0.3s;
}

/* Responsive menu button*/

.menu__btn {
  display: none;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.menu__icon {
  position: relative;
}

.menu__icon,
.menu__icon::before,
.menu__icon::after {
  display: inline-block;
  width: 1.7rem;
  height: 2px;
  background-color: var(--text-main);
  transition: all 0.3s;
}

.menu__icon::before,
.menu__icon::after {
  content: '';
  position: absolute;
  left: 0;
}

.menu__icon::before {
  top: -0.6rem;
}

.menu__icon::after {
  top: 0.6rem;
}

.menu__btn.active .menu__icon {
  background-color: transparent;
}

.menu__btn.active .menu__icon::before {
  top: 0;
  transform: rotate(135deg);
}

.menu__btn.active .menu__icon::after {
  top: 0;
  transform: rotate(-135deg);
}


/* Light-Dark button */

.btn-theme {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--fill-color);
  color: var(--fill-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.btn-theme:hover {
  background-color: var(--fill-hover);
  color: var(--fill-text);
}

.btn-theme:active {
  background-color: var(--fill-active);
  color: var(--fill-text);
  transform: scale(0.95);
}

.icon-theme {
  display: inline-block;
  width: 1.3rem;
  height: 1.3rem;
  line-height: 0;
}

.icon-theme--sun {
  display: none;
}

.dark .icon-theme--sun {
  display: block;
}

.dark .icon-theme--moon {
  display: none;
}

.dark .menu__logo {
  filter: invert(1) hue-rotate(180deg);
}

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------ */

.menu__item:last-child {
  margin-right: 1rem;
}

@media only screen and (max-width: 900px) {
  /*-------- General --------*/

  .container {
    padding: 0;
  }

  /*-------- Header --------*/

  .header {
    padding: 1.2rem 1.5rem;
    transition: var(--theme-transition);
}

  .menu {
    flex-wrap: wrap;
  }

  /* Logo */

  .menu__logo-box {
    flex: 1;
  }

  .menu__logo-box a {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }

  .menu__logo {
    height: 2.4rem;
  }

  /* Menu links */

  .menu__list {
    flex-direction: column;
    align-items: flex-start;
    flex-basis: 100%;
    order: 1;
    max-height: 0;
    /* padding: 1rem 0; */
    overflow: hidden;
    transition: max-height 0.3s linear;
  }

  .menu__list.active {
    max-height: 62rem;
  }

  .menu__item {
    width: 100%;
  }

  .menu__item:first-child {
    padding-top: 1rem;
  }

  .menu__item:last-child {
    padding-bottom: 1rem;
    margin-right: 0;
  }

  .menu__link:link,
  .menu__link:visited {
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-light);
  }

  /* Dropdown menu */

  .menu__submenu {
    position: relative;
    width: 100%;
    max-height: 0;
    padding: 0 0 0 1.5rem;
    border: none;
    box-shadow: none;
    opacity: 1;
    visibility: visible;
    overflow: hidden;
  }

  .menu__submenu.active {
    max-height: 50rem;
  }

  .menu__subitem .menu__link:link,
  .menu__subitem .menu__link:visited {
    padding: 1rem 0;
  }

  .dropdown-icon {
    margin-left: auto;
    width: 1.3rem;
    height: 1.3rem;
  }

  .dropdown-icon.up {
    transform: rotate(180deg);
  }

  /* Responsive menu button*/

  .menu__btn {
    display: flex;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 90rem) {
  .container {
    padding: 0;
  }
}
