/* ------------------------------------ */
/* RESET STYLES */
/* ------------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------------------ */
/* GENERAL */
/* ------------------------------------ */

:root {
  color-scheme: light;

  --primary-color: #4886ac;
  --primary-light: #64a1c7;
  --primary-dark: #407697;

  --gray-dark: #0d1318;
  --gray-medium: #18222b;
  --gray-light: #e3e3e3;
  --white: #ffffff;

  --bg-dark-light: light-dark(var(--white), var(--gray-dark));
  --text-dark-light: light-dark(var(--gray-dark), var(--white));
}

:root.dark-mode {
  color-scheme: dark;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--text-dark-light);
}

.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ */
/* HEADER */
/* ------------------------------------ */

.header {
  width: 100%;
  padding: 1.2rem 3rem;
  background-color: var(--bg-dark-light);
  box-shadow: -1px 2px 20px 0px rgba(64, 118, 151, 0.15);
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 0;
}

/* Logo */

.navbar__logo-container {
  flex: 1;
}

.navbar__logo {
  height: 2.7rem;
  transition: transform 0.3s;
}

.navbar__logo:hover {
  transform: scale(1.08);
}

/* Responsive menu button*/

.navbar__btn-toggle {
  display: none;
  align-items: center;
  width: 1.7rem;
  height: 1.7rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.navbar__toggle-icon {
  position: relative;
}

.navbar__toggle-icon,
.navbar__toggle-icon::before,
.navbar__toggle-icon::after {
  display: inline-block;
  width: 1.7rem;
  height: 2px;
  background-color: var(--text-dark-light);
  transition: all 0.3s;
}

.navbar__toggle-icon::before,
.navbar__toggle-icon::after {
  content: "";
  position: absolute;
  left: 0;
}

.navbar__toggle-icon::before {
  top: -0.6rem;
}

.navbar__toggle-icon::after {
  top: 0.6rem;
}

.navbar__btn-toggle.active .navbar__toggle-icon {
  background-color: transparent;
}

.navbar__btn-toggle.active .navbar__toggle-icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navbar__btn-toggle.active .navbar__toggle-icon::after {
  top: 0;
  transform: rotate(-135deg);
}

/* Menu links */

.navbar__nav {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__link:link,
.navbar__link:visited {
  position: relative;
  display: inline-block;
  padding: 1rem 0.8rem;
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  transition: color 0.2s;
}

.navbar__link:hover,
.navbar__link:active {
  color: var(--primary-light);
}

.navbar__link--active:link,
.navbar__link--active:visited {
  color: var(--primary-color);
}

.navbar__link--active:hover,
.navbar__link--active:active {
  color: var(--primary-light);
}

/* Dark-Light mode button */

.navbar__darklight {
  cursor: pointer;
  background: none;
  border: none;
}

.navbar__dark-light-icon {
  padding: 0.4rem 0.6rem;
  font-size: 1.3rem;
  color: var(--text-dark-light);
  transition: color 0.3s;
}

.navbar__dark-light-icon:hover {
  color: var(--primary-color);
}

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------ */

@media only screen and (max-width: 900px) {
  .container {
    padding: 0;
  }

  .header {
    padding: 1.2rem 1.5rem;
  }

  .navbar {
    flex-wrap: wrap;
  }

  .navbar__logo {
    flex-wrap: 1;
    height: 2.4rem;
  }

  .navbar__btn-toggle {
    display: flex;
    order: 1;
  }

  .navbar__menu {
    flex-basis: 100%;
    order: 2;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }

  .navbar__menu.active {
    max-height: 62rem;
  }

  .navbar__nav {
    padding: 1rem 0;
    flex-direction: column;
  }

  .navbar__link {
    padding: 0;
  }

  .navbar__darklight {
    margin-top: 2px;
    margin-right: 5px;
  }

  .navbar__dark-light-icon {
    font-size: 1.6rem;
    line-height: 0;
  }
}
