/*
* Component: Simple Hero
*/

/* ------------------------------------ */
/* GENERAL AND RESET */
/* ------------------------------------ */

:root {
  color-scheme: light;

  --primary-color: #4886ac;
  --primary-light: #64a1c7;
  --primary-dark: #407697;

  --gray-dark: #0e1318;
  --gray-medium: #18222b;
  --gray-light: #e3e3e3;
  --white: #ffffff;

  /* Dynamics variables */
  --bg-body: light-dark(var(--white), var(--gray-dark));
  --bg-content: light-dark(var(--white), var(--gray-medium));

  --text-main: light-dark(var(--gray-medium), var(--white));

  --action-color: light-dark(var(--primary-color), var(--primary-light));
  --action-hover: light-dark(var(--primary-dark), var(--primary-light));
  --action-active: light-dark(var(--primary-light), var(--primary-dark));

  --fill-color: var(--primary-color);
  --fill-hover: var(--primary-dark);
  --fill-active: light-dark(var(--primary-light), var(--primary-color));
  --fill-text: var(--white);

  --shadow-content: light-dark(rgba(64, 111, 141, 0.15), rgba(0, 0, 0, 0.3));

  /* Smooth transition */
  --theme-transition:
    background-color 0.3s ease, color 0.2s ease, box-shadow 0.2s ease;
}

html.dark {
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--text-main);
  background-color: var(--bg-body);
  transition: var(--theme-transition);
}

a {
  text-decoration: none;
}

.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ */
/* REUSABLE STYLES */
/* ------------------------------------ */

/* Buttons */

button.btn {
  border: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
  border-radius: 4px;
  border: 2px solid;
  transition:
    background-color 0.3s,
    border-color 0.3s;
  cursor: pointer;
}

.btn--big:link,
.btn--big:visited {
  padding: 1rem 2rem;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: var(--white);
  background-color: var(--action-color);
  border-color: var(--action-color);
}

.btn--primary:hover {
  background-color: var(--action-hover);
  border-color: var(--action-hover);
}

.btn--primary:active {
  background-color: var(--action-active);
  border-color: var(--action-active);
  transform: scale(0.99);
}

/* Dark-light theme button */

.btn-theme {
  position: fixed;
  bottom: 1.5rem;
  left: 1.5rem;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: var(--fill-color);
  color: var(--fill-text);
  transition:
    background-color 0.3s,
    color 0.3s;
}

.btn-theme:hover {
  background-color: var(--fill-hover);
  color: var(--fill-text);
}

.btn-theme:active {
  background-color: var(--fill-active);
  color: var(--fill-text);
  transform: scale(0.95);
}

.icon-theme {
  display: inline-block;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 0;
}

.icon-theme--sun {
  display: none;
}

.dark .icon-theme--sun {
  display: block;
}

.dark .icon-theme--moon {
  display: none;
}

.dark .menu__logo {
  filter: invert(1) hue-rotate(180deg);
}

/* ------------------------------------ */
/* HERO STYLES */
/* ------------------------------------ */

.hero {
  display: grid;
  place-items: center;
  padding: 8rem 0;
  text-align: center;
}

.hero__title {
  margin-bottom: 3rem;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero__title-span {
  display: block;
  color: var(--action-color);
}

.hero__description {
  margin-bottom: 4rem;
  max-width: 60ch;
}

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------ */

@media only screen and (max-width: 900px) {
  .container {
    padding: 0;
  }

  /* Hero */

  .hero {
    padding: 5rem 1.5rem;
  }

  .hero__title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .hero__description {
    margin-bottom: 2.25rem;
  }
}

@media only screen and (max-width: 505px) {
  .hero__title {
    font-size: 1.8rem;
  }
}
