/*
* Component: Simple Hero
*/

/* ------------------------------------ */
/* GENERAL AND RESET */
/* ------------------------------------ */

:root {
  --primary-color: #4886ac;
  --primary-light: #64a1c7;
  --primary-dark: #407697;

  --gray-dark: #0e1318;
  --gray-medium: #18222b;
  --gray-light: #e3e3e3;
  --white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: Poppins, sans-serif;
  color: var(--gray-medium);
}

a {
  text-decoration: none;
}

.container {
  max-width: 82rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ */
/* REUSABLE STYLES */
/* ------------------------------------ */

/* Buttons */

button.btn {
  border: none;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 0.7rem 1.2rem;
  font-weight: 500;
  font-size: inherit;
  line-height: 1;
  border-radius: 4px;
  border: 2px solid;
  transition: background-color 0.3s, border-color 0.3s;
  cursor: pointer;
}

.btn--big:link,
.btn--big:visited {
  padding: 1rem 2rem;
}

.btn--primary,
.btn--primary:link,
.btn--primary:visited {
  color: var(--white);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn--primary:hover {
  background-color: var(--primary-dark);
  border-color: var(--primary-dark);
}

/* ------------------------------------ */
/* HERO STYLES */
/* ------------------------------------ */

.hero {
  display: grid;
  place-items: center;
  padding: 8rem 0;
  text-align: center;
}

.hero__title {
  margin-bottom: 3rem;
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
}

.hero__title-span {
  display: block;
  color: var(--primary-color);
}

.hero__description {
  margin-bottom: 4rem;
  max-width: 60ch;
}

/* ------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------ */

@media only screen and (max-width: 900px) {
  .container {
    padding: 0;
  }

  /* Hero */

  .hero {
    padding: 5rem 1.5rem;
  }

  .hero__title {
    font-size: 2.3rem;
    margin-bottom: 2rem;
  }

  .hero__description {
    margin-bottom: 2.25rem;
  }
}

@media only screen and (max-width: 505px) {
  .hero__title {
    font-size: 1.8rem;
  }

  .hero__description {
    font-size: 15px;
  }
}

